.flex-container{
    display: flex;
    justify-content: space-evenly;
    height: 10vh;
    padding: 20px;
}
.right{
    display: flex;
    right: -120px;
}
.zero{
    position: relative;
    left: -200px;
}
